@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer utilities {
  .container {
    @apply font-sans;
  }
}

/* side bar project */
#shopify-react-root {
  /*display: flex;
  height: 100%;
  width: 100%;
  position: fixed;*/
  z-index: 11;
  
  font-family: "Quicksand", sans-serif; 
  * {
    font-family: "Quicksand", sans-serif;   
  }

  &.error-state {
    @apply relative h-auto w-auto;
  }

  /*** Error Page ***/
  #error-page {
    @apply mx-auto max-h-[300px] w-full bg-contrast;
  }

  /*** ICONS ***/
  .appIcon {
    @apply p-3 border-2 border-zinc-100 rounded-xl;
  }

  /*** Side Bar ***/

  #sidebar {
    @apply bg-contrast0;

    /***  ***/
    .app-display-list {
      @apply pl-0 pb-80;

      li {
        list-style-type: none;
      }

      a,
      navlink,
      .list-header {
        @apply block px-7 py-4 no-underline border-b-[1px] border-zinc-600 transition-all;
        &.active {
          @apply bg-contrast2 text-accent;
        }
        &.pending {
          color: hsl(224, 98%, 58%);
        }
      }

      .list-header {
        @apply font-bold text-xl;
      }
    }

    /***  ***/
    .app-tool-bar {
      .appIcon {
        @apply mr-4;
      }
    }
  } /* #sidebar */

  /*** Custom Scroll Style ***/
  .scroll_bar_style {
    /*** scroll bar style ***/
    /* General scrollbar styling */
    &::-webkit-scrollbar {
      width: 2px; /* Example width - adjust as desired */
    }

    /* Styling the scrollbar thumb (the draggable part) */
    &::-webkit-scrollbar-thumb {
      @apply bg-border;
    }

    /* Styling the scrollbar track (the background) */
    &::-webkit-scrollbar-track {
      @apply bg-muted;
    }
  }

  #sidebar form {
    position: relative;
    input[type="search"] {
      width: 100%;
      padding-left: 3rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 0.625rem 0.8rem;
      background-size: 2rem;
      position: relative;
    }
    input[type="search"].loading {
      background-image: none;
    }
  } /* #sidebar form*/

  /* TabSwitch */
  .tab-controls {
    button {
      border: 2px solid white;
      padding: 10px;
      margin: 10px;
    }
  }

  /*hidden*/
  #search-spinner {
    @apply absolute left-[0.625rem] top-[0.75rem] h-8 w-8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    &[data-hidden="true"] {
      visibility: hidden;
    }
  }

  #outlet_container {
    flex: 1;
    padding: 2rem 4rem;
    width: 100%;
    @apply bg-contrast2;
    &.loading::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    overflow-y: scroll;
  }

  #contact-form {
    .form-row,
    .form-row-wrapper {
      @apply flex flex-row my-2;
    }
    .form-row-wrapper {
      @apply w-full;
    }
    .form-label {
      @apply flex min-w-[168px] align-middle;
    }
  } /* #contact-form */

  .detail_section {
    @apply my-10 flex flex-col md:flex-row md:items-start;
  }
  .detail_img_wrapper {
    @apply flex w-full p-0
           md:w-[300px] md:min-w-[300px] md:py-8  
           flex-shrink  flex-grow-0 justify-center  align-middle;
  }
  .detail_img_main {
    @apply h-full w-full object-contain object-top border-solid border-gray-100 border-[15px];
  }
  .detail_info_wrapper {
    @apply flex-shrink flex-grow basis-auto p-8;
  }

  .list_section{
    ul{
      @apply list-none p-3;
    }
  }

  .num_format_box{
    @apply font-mono p-[2px] px-3 border border-gray-700 rounded-[2px] ;
  }

  .order_lineItem{
    @apply flex overflow-hidden p-2 m-2;
    .lineItem_img_wrapper{
      @apply w-[100px] min-w-[100px] h-[100px] overflow-hidden;
    }
    .lineItem_info{
      @apply flex-grow;
    }
  }

  .section_heading{
    @apply font-thin text-[1.5rem] leading-[1.7rem] mb-4 uppercase;
 
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .section_heading_normalcase{
    @apply font-thin text-[1.5rem] leading-[1.7rem] mb-4;
  }

  .section_index_page{
    @apply w-full h-full flex items-center justify-center;
    h2::first-letter {
      @apply text-slate-100 font-heading mx-1;      
      line-height: 1;  
      initial-letter: 2;
    }
    a{
      @apply font-extrabold text-yellow-400;
    }
    b{
      @apply font-bold uppercase
    }
  }
} /* #shopify-react-root */
